* {color: purple;}
.Top-page {color: yellowgreen; text-align: center; border: 6px solid red; background-color: rgb(171, 132, 211);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin: 10px 600px; padding: 20px;}
.Nazi-h1 {color: brown; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;}
.Nigga-bitch {color: blue; font-family: 'Times New Roman', Times, serif; font-size: 40px; font-weight: bold; 
    text-align: center; border: 6px solid black; background-color: blanchedalmond;
     padding: 20px 0px 20px 0px; margin: 10px 750px;}
#title {background-color: yellow;}
.Bro1, .Bro2 {color: bisque;}
.group1 .nigga1 {color: brown;}